body{
    background-color: #e6f0f8;
    width: auto;
    height: auto;
    box-sizing: border-box;
    
}
.logo{
    width: 120px;
    height: 48px;
    margin-top: 40px;
    margin-left: 40PX;
    right: 12080px;
}
.columnas{
    display: flex;
    gap: 82px;
    
}
.primario{
    
    height: 800px;
    margin-left: 120px;
    
}
.texto__a_encriptar{
    background-color: #e6f0f8;
    width: 680px;
    height: 288px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 46px  ;
    border: none;
    font-family: "inter";
    font-weight: 400;
    font-style: normal;
    line-height: 48px;
    padding-bottom: 70px;
}
h6{
    font-family: "inter";
    font-weight: 400;
    font-style: normal;
    font-size: .75rem;
    color: #495057;
    line-height: 18px;
}
.exclamción{
    width: 15px;
    border: solid #495057;
    border-radius: 90%;
    background-color: #495057;
    color: white;
}
.botones{
    width: 680px;
    height: 67px;
    gap: 30px;
}
.encriptar{
    width: 328px;
    height: 67px;
    border:solid #0A3871 1px;
    border-radius: 24px;
    color: white;
    background-color: #0A3871;
    box-shadow: 0.5px 2px 2px 2px #495057;
}
.desencriptar{
    width: 328px;
    height: 67px;
    border:solid #0A3871 1px;
    border-radius: 24px;
    color: #0A3871;
    background-color: white;
    box-shadow: 0.5px 2px 2px 2px #495057;
}
.secundario{
    background-color: #f7f8f8;
    width: 370px;
    height: 588px;
    margin-top: -50px;
    background: white;
    border-radius:  32px;
    box-shadow: 2px 5px 5px 5px #495057 ;
    
}
.mensaje{
    width: 330px;
    height: 480px;
    border-top: 72px;
    margin-left: 25px;
    margin-top: 10px;
    background-image:  url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;  
    line-height: 48px;
   font-family: "inter";
   font-weight: 400;
   font-style: normal;
   font-size: 2.25rem;   
}
.mensaje:focus{
    background-color: white;
    background-image: none;
    outline: none;
}
.btn_copia{
    margin-left: 25px;
    width: 328px;
    height: 67px;
    border:solid #0A3871 1px;
    border-radius: 24px;
    color: white;
    background-color: #0A3871;
    box-shadow: 0.5px 2px 2px 2px #495057;
}
footer{
    width: auto;
    text-align: center;
    height: 20px;
    color: white;
    background-color:#0A3871;
    font-family: "inter";
    font-weight: 400;
    font-size: .75rem;
}
/*@media(max-width:1050px){
.columnas{
    flex-direction: column;
    width: 100vw;

}
}