body{
    background-color: aliceblue;
    color: #000000;
    height: 100vh;
    
}
.columnas{
    display: flex;
    margin-left: 80px;
    margin-right: 50px;
    gap: 40px;
    
}
.texto__a_encriptar{
    align-self: center;
}
.botones{
    box-sizing: border-box;
    width: 100%;

    align-self: flex-end;  
    gap: 50px; 

}
.mensaje{
    background-image: url("imagenes/Muñeco.png");
    box-sizing: border-box;
}
.texto_encriptado{
    box-sizing: content-box;
    align-self: flex-end;

}
.primario{
    padding: 0;
    border: 0;
    margin: 0;
}
.texto_a_encriptar{
    align-self: center;
}

.secundario{
    display: block;

}
.cuadro_lateral{
    border: 40px ridge ;
}